@using System.Linq
@using myLibrary.Models
@model List<newCategory>
@using System.Collections.Generic
<table class="table">
    <thead>
     <tr>
       <th> Id  </th>
       <th>Type </th>
       <th>Weight </th>
       <th>Price</th>

    
     </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
           <td> @item.Id </td>
           <td> @item.Type</td>
           <td> @item.Weight </td>
           <td>@item.Price</td>
         
        </tr>
    }
    </tbody>
</table>
