@using System.Linq
@using swTwo.Models
@model List<Details>
@using System.Collections.Generic
<div class="form-group">
  <label for="usr">Book Name:</label>
   <input type="text" name="BookName"  class="form-control" ></input>
  <label for="usr">Reader ID:</label>
   <input type="text" name="PersonId"  class="form-control" ></input>
  <label for="usr">Employee ID:</label>
   <input type="text" name="EmployeeId"  class="form-control" ></input>
   <br>
<button type="button" class="btn btn-primary">Submit</button>
</div>